<html ng-app="cdcApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="row col md-12">
        <div class="col-md-6 col-md-offset-3">

            <form action="/promocoes" method="post" class="form-group form-horizontal">
                <div class="col-md-4">
                    <input class="form-control" type="text" name="mensagem" />
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="livro[id]">
                        <% for(var i=0; i<lista.length; i++) {%>
                        <option value="<%=lista[i].id%>">
                            <%=lista[i].titulo%>
                        </option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-4 text-center">
                <input class="btn btn-dark" type="submit" value="Promoção relâmpago" />
                </div>
            </form>
        </div>
    </div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('novaPromocao', function (data) {
        alert("Livro em promocao " + data.livro.id)
    });
</script>

</html>